body {
	background-color: #f7f7f7;
	color: #444444;
}

p {
	text-align: left;
}

.footer {
	padding: 30px;
}

.container {
	margin: 0 auto;
	text-align: center;
}

.bg-1 {
	padding: 4em 0 1.5em 0;
	background-color: #4f5f79;
	color: #ffffff;
}

.bg-2 {
	background-color: #e9c2c3;
	color: #444444;
}

.bg-3 {
	background-color: #f7f7f7;
	color: #444444;
}

.bg-4 {
	background-color: #2d2d2d;
}

.portrait {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.main-heading {
	font-size: 2em;
	margin-bottom: 0;
	text-transform: uppercase;
	font-weight: normal;
}

.sub-heading {
	font-size: 1.8em;
	font-weight: normal;
	display: inline-block;
	margin: 0;
}

.sub-heading-icon {
	vertical-align: middle;
}

.sub-heading-container {
	padding: 10px 2em;
	border-radius: 10px;
	position: absolute;
	top: -31px;
	left: 50%;
	margin-left: -74px;
}

.sub-section {
	padding: 50px;
	position: relative;
}

.sub-section-content {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	align-content: center;
	justify-content: center;
	margin-top: 1.5em;
}

.competences {
	font-size: 1.3em;
	margin-top: 0.5em;
	font-weight: normal;
}

.experience {
	box-sizing: border-box;
	width: 25%;
	max-width: 260px;
	padding: 0 0.5em;
	text-align: left;
}

.experience-text {
	width: auto;
	font-size: 0.95em;
	line-height: 1.3em;
}

.contact {
	margin: 2em 0 1.5em 0;	
}

.contact-link {
	margin: 0 1em;
}

.contact-link,
.contact-link:visited {
	color: #ffffff;
}

.contact-link:hover {
	color: #93a5c3;
}

.logo {
	width: 180px;
}

.logo--svtplay {
	background-color: #151617;
	padding: 3px 12px;
	width: 100px;
	border-radius: 5px;
}

.about-text {
	font-size: 0.95em;
	line-height: 1.3em;
	text-align: left;
	max-width: 40em;
	margin: 1em auto;
	color: #444444;
}

.about-link,
.about-link:visited {
	color: #444444;
}

.about-link:hover {
	color: #444444;
	text-decoration: none;
}

@media only screen and (min-width: 450px) {
	.portrait {
		width: 300px;
		height: 300px;
	}

	.main-heading {
		font-size: 3em;
	}

	.competences {
		font-size: 1.2em;
	}

	.sub-heading {
		font-size: 2.5em;
	}

	.about-text,
	.experience-text {
		font-size: 1em;
	}
}

@media only screen and (min-width: 760px) {

}

@media only screen and (min-width: 1200px) {

}
