.clearfix::after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

body {
	background-color: #f7f7f7;
	color: #444444;
}

p {
	text-align: left;
}

.container {
	margin: 0 auto;
	text-align: center;
}

.bg-1 {
	padding: 4em 1em 1.5em 1em;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4f5f79+0,f7f7f7+82 */
	background: #4f5f79; /* Old browsers */
	background: -moz-linear-gradient(top,  #4f5f79 0%, #f7f7f7 82%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #4f5f79 0%,#f7f7f7 82%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #4f5f79 0%,#f7f7f7 82%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f5f79', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
}

.portrait {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.main-heading {
	font-size: 2em;
	margin-bottom: 0;
	text-transform: uppercase;
	font-weight: normal;
}

.sub-heading {
	font-size: 1.8em;
	font-weight: normal;
	display: inline-block;
}

.sub-section {
	padding-bottom: 50px;
}

/*---------- PORTFOLIO ----------*/
.portfolio-content {
	padding: 5px 0;
}

.portfolio-img {
	width: 100%;
}

/*---------- COMPETENCE ----------*/
.competences {
	font-size: 1.3em;
	margin-top: 0.5em;
	font-weight: normal;
}

/*---------- EXPERIENCE ----------*/
.experience {
	margin: 4em 1em 0;
}

.experience-content {
	text-align: left;
	margin-top: 2em;
}

.experience-content:first-child {
	margin-top: 0;
}

.experience-text {
	width: auto;
	font-size: 0.95em;
	line-height: 1.3em;
	text-align: justify;
}

/*---------- CONTACT ----------*/
.contact {
	margin: 2em 0 1.5em 0;	
}

.contact-link {
	margin: 0 1em;
}

.contact-link,
.contact-link:visited {
	color: #ffffff;
	color: #93a5c3;
	color: #4f5f79;
	color: #444444;
}

.contact-link:hover {
	color: #93a5c3;
	color: #ffffff;
}

/*---------- LOGO ----------*/
.logo {
	height: 2.5em;
}

.logo-wrapper {
	text-align: center;
}

/*---------- ABOUT ----------*/
.about-text {
	font-size: 0.95em;
	line-height: 1.3em;
	text-align: left;
	max-width: 40em;
	margin: 1em auto;
	color: #444444;
}

.about-link,
.about-link:visited {
	color: #444444;
}

.about-link:hover {
	color: #444444;
	text-decoration: none;
}

.footer {
	background-color: #252525;
	padding: 30px;
}

@media only screen and (min-width: 450px) {
	.portrait {
		width: 300px;
		height: 300px;
	}

	.main-heading {
		font-size: 3em;
	}

	.competences {
		font-size: 1.2em;
	}

	.sub-heading {
		font-size: 2.5em;
	}

	.about-text,
	.experience-text {
		font-size: 1em;
	}

	.portfolio-content {
		box-sizing: border-box;
		width: 50%;
		display: block;
		float: left;
		padding: 5px;
	}

	.experience-content {
		width: 49%;
		padding: 0 0.5em;
		display: inline-block;
		vertical-align: top;
		box-sizing: border-box;
	}

	.experience-content:nth-child(2) {
		margin-top: 0;
	}
}

@media only screen and (min-width: 760px) {
	.portfolio {
		margin: 0 auto;
		max-width: 50em;
	}

	.experience {
		margin: 4em auto 0;
		max-width: 40em;
	}

	.experience-content {
		max-width: 290px;
		padding: 0 0.5em;
	}
}

@media only screen and (min-width: 1200px) {
	.portfolio {
		max-width: 80em;
	}

	.experience {
		max-width: none;
	}

	.experience-content {
		width: 25%;
		max-width: 260px;
		margin-top: 0;
		padding: 0 0.5em;
	}
}
